/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Adjusted gradient theme */
.gradient-theme {
    background: linear-gradient(to bottom, #2C1A45, #1D0F2E);
    color: #ffffff; /* Text color for contrast */
    padding: 20px; /* Adjust padding as needed */
    min-height: 100vh; /* Ensure gradient covers the entire viewport height */
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    z-index: 1; /* Ensure header is above other content */
}

nav {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    padding-top: 20px;
    z-index: 1; /* Ensure navigation is above other content */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    padding: 10px;
    text-align: center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li:hover {
    background: #575757;
}

main {
    margin-left: 200px; /* Ensure main content area avoids navigation */
    padding: 20px;
    z-index: 0; /* Ensure main content is below header and navigation */
}

.content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for content */
}

footer {
    text-align: center;
    padding: 10px 0;
    background: linear-gradient(to right, #ff8a00, #da1b60); /* Gradient background */
    color: white; /* Text color */
    width: 100%;
    position: fixed; /* Fixed position */
    bottom: 0;
    z-index: 9999; /* Ensure footer is above other content */
}

/* Mobile-specific styles */
@media only screen and (max-width: 768px) {
    nav {
        width: 100%; /* Full width for mobile */
        position: static; /* Static position for mobile */
        overflow-y: visible; /* Visible overflow for mobile */
        padding-top: 0; /* No padding top for mobile */
    }

    main {
        margin-left: 0; /* No margin for main content in mobile */
    }

    .content {
        background: none; /* No background for content in mobile */
        padding: 10px; /* Adjust padding for mobile */
        box-shadow: none; /* No box shadow for content in mobile */
        margin-top: 20px; /* Adjust margin top for content in mobile */
    }

    footer {
        position: relative; /* Adjust position for mobile */
    }
}
