body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.logo img {
    height: 50px;
}

.search-bar input {
    padding: 5px;
    border-radius: 3px;
    border: none;
}

nav {
    background-color: #222;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.content {
    width: 100%;
}

.toggle-section {
    margin-bottom: 10px; /* Adăugăm spațiu între secțiuni */
}

.toggle-section h2 {
    background-color: #e67e22;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adăugăm umbră */
}

.toggle-content {
    display: none;
    padding: 10px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adăugăm umbră */
}

}

.news, .welcome {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news h2, .welcome h2 {
    background-color: #e67e22;
    color: #fff;
    padding: 10px;
    margin: -10px -10px 10px -10px;
    border-radius: 5px 5px 0 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
